body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.my-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.right-answer {
    background-color: rgba(0, 225, 0, 0.5) !important;
}

.wrong-answer {
    background-color: rgba(225, 0, 0, 0.5) !important;
}

.tc {
    text-align: center;
}

.win-border {
    border: gold 5px solid !important;
}