body {
    background-image: url(img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-container {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.my-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.my-card-footer-end {
    width: 100%;
    display: flex;
    justify-content: end;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.right-answer {
    background-color: rgba(0, 225, 0, 0.5) !important;
}

.wrong-answer {
    background-color: rgba(225, 0, 0, 0.5) !important;
}

.tc {
    text-align: center;
}

.win-border {
    border: gold 5px solid !important;
}

.card-body {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.no-border {
    border: none !important;
}

.progress {
    height: 2rem !important;
    border-radius: 0 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
}